Source: openni2
Priority: extra
Maintainer: Alexandre Tuleu <alexandre.tuleu.2005@polytechnique.org>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Section: libs
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/openni2.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/openni2.git;a=summary

Package: openni2-dev
Section: libdevel
Architecture: any
Depends: openni2BROKEN (= ${binary:Version})
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: openni2BROKEN
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
