Source: openni2
Priority: optional
Section: libs
Maintainer: Alexandre Tuleu <alexandre.tuleu.2005@polytechnique.org>
Build-Depends: debhelper (>= 8.0.0), freeglut3-dev, libusb-dev (>=
 1.0.8), python, doxygen, graphviz, libjpeg-dev, default-jdk
Standards-Version: 3.9.3
Homepage: http://www.openni.org
Vcs-Browser: http://github.com/atuleu/debian-openni2

Package: libopenni2
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: framework for sensor-based 'Natural Interaction'
 OpenNI is a framework for getting data to support 'Natural
 Interaction', i.e. skeleton tracking, gesture tracking, and similar
 ways of getting data from humans. OpenNI provides the interface for
 physical devices and for middleware components. The API enables
 modules to be registered in the OpenNI framework, which then produce
 sensory data. OpenNI also allows selection of different hardware and
 middleware modules.

Package: libopenni2-java
Section: java
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         libopenni2 (= ${binary:Version})
Description: Java framework for sensor-based 'Natural Interaction'
 OpenNI is a framework for getting data to support 'Natural
 Interaction', i.e. skeleton tracking, gesture tracking, and similar
 ways of getting data from humans. OpenNI provides the interface for
 physical devices and for middleware components. The API enables
 modules to be registered in the OpenNI framework, which then produce
 sensory data. OpenNI also allows selection of different hardware and
 middleware modules.
 .
 This package provides Java bindings for OpenNI.

Package: libopenni2-dev
Section: libdevel
Architecture: any
Depends: libopenni2 (= ${binary:Version})
Description: headers for OpenNI 'Natural Interaction' frameworks
 OpenNI is a framework for getting data to support 'Natural Interaction',
 i.e. skeleton tracking, gesture tracking, and similar ways of getting data
 from humans. OpenNI provides the interface for physical devices and for
 middleware components. The API enables modules to be registered in the OpenNI
 framework, which then produce sensory data. OpenNI also allows selection of
 different hardware and middleware modules.
 .
 This package provides headers for the OpenNI framework.

Package: libopenni2-dbg
Section: debug
Priority: extra
Architecture: any
Depends: libopenni2 (= ${binary:Version})
Recommends: libopenni2-dev
Description: Debug symbols for OpenNI 'Natural Interaction' frameworks
 OpenNI is a framework for getting data to support 'Natural Interaction',
 i.e. skeleton tracking, gesture tracking, and similar ways of getting data
 from humans. OpenNI provides the interface for physical devices and for
 middleware components. The API enables modules to be registered in the OpenNI
 framework, which then produce sensory data. OpenNI also allows selection of
 different hardware and middleware modules.
 .
 This package provides debug symbols for the OpenNI framework.

Package: openni2-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Description: developer documentation for OpenNI frameworks
 OpenNI is a framework for getting data to support 'Natural Interaction',
 i.e. skeleton tracking, gesture tracking, and similar ways of getting data
 from humans. OpenNI provides the interface for physical devices and for
 middleware components. The API enables modules to be registered in the OpenNI
 framework, which then produce sensory data. OpenNI also allows selection of
 different hardware and middleware modules.
 .
 This package provides developer documentation for developing using the OpenNI
 frameworks.

